:root {
  --text: #e6edf3;
  --accent: #79a6ff;
  --line: #1b2129;

  --bg-dark: #0b0d10;
  --bg-light: #ffffff;
}

body {
  background: var(--bg-dark);
  color: var(--text);
}

html.light body {
  background: var(--bg-light);
}
